# VSCode & Visual Studio
.vscode/
.vs/
obj/
Debug/
sem-4/oop-coursework/project/bin/*
!sem-4/oop-coursework/project/bin/BuildMisc/
!sem-4/oop-coursework/project/bin/Release/
sem-4/oop-coursework/project/bin/Release/*
*.user

# C/C++
*.o
*.a
*.so

# Java
*.class

# Python
*.pyc

# Lock-file
*~*

# Binaries
*.exe
!sem-4/oop-coursework/project/bin/Release/*.exe