# Style of the Linux core project, but without: tabs, indent 8.
---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100 # Modern standard is 100 or 120 with explicit variable names.
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
InsertNewlineAtEOF: true
...
