# Style of the Linux core project, but without: tabs, indent 8.
---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80 # Changes often
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
InsertNewlineAtEOF: true
...
